body{
	background: white;
	margin: 0;
}
.abc{
	background: white;
}
.navbar-default{
	margin: 0;
	border: none;
}
.navbar-default .navbar-form{
	/*color: white;*/
	width: 35%;
}
.form-group{
	/*color: white;*/
	width: 100%;
}
.navbar-form .form-control{
	width: 100%;
	color: white;
	background: #6C5CE7;
}
.navbar-form .form-group .form-control::placeholder{
	color: white;
	opacity: 1;
}
.navbar-default .navbar-nav>li>a{
	color: black;
	font-weight: 700;
	letter-spacing: 1px;
}
.navbar-default .navbar-brand{
	color: black;
	font-weight: 700;
	letter-spacing: 1px;
	text-shadow: 1px 1px #ddd;
}
.navbar-default .navbar-brand:hover{
	background: #ecf0f1;
	color: #2c3e50;
}
.navbar-default .navbar-nav>li>a:hover{
	background: #ecf0f1;
	color: #2c3e50;
}
.navi{
	padding-top: 50px;
}
.b{
	width: 20%;
	float: left;
	color: white;
	text-align: center;
	height: 50px;
	padding-top: 14px;
	font-weight: 700;
	letter-spacing: 1px;
}
.mobile{
	background: #00B894;
}
.laptop{
	background: #A29BFE;
}
.ac{
	background: #FF7675;
}
.tv{
	background: #6C5CE7;
}
.fridge{
	background: #E84393;
}
.navi a:hover{
	color: white;
	text-decoration: none;
	font-weight: 1000;
}
.navi a:visited {
  text-decoration: none;
  color: white;
}
.navi a:link{
	text-decoration: none;
  color: white;
}
.navi a:active{
	text-decoration: none;
  color: white;
}
.navii a:hover{
	color: white;
	font-weight: 1000;
}
.navii a:visited {
  text-decoration: none;
  color: white;
}
.navii a:link{
	text-decoration: none;
  color: white;
}
.navii a:active{
	text-decoration: none;
  color: white;
}
.navii{
	overflow: hidden;
	bottom: 0;
	width: 100%;
	/*position: fixed;*/
}
.bb{
	width: 12.5%;
	float: left;
	color: white;
	text-align: center;
	height: 50px;
	padding-top: 14px; 
	font-weight: 700;
	letter-spacing: 1px;
	background: black;
}

button{
	border: 1px solid #6C5CE7;
	border-radius: 12%;
	outline: none;
	margin-left: 29px;
}
button:hover{
	color: #ecf0f1;
	background: #2c3e50;
	border: none;
}
div img{
	width: 230px;
	height: 270px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	float: left;
}
.clr{
	clear: both;
}
.blck{
	display: block;
}
.back{
	margin-top: 100px;
	background: white;
	color: black;
}
h4{
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}
.top{
	padding-top: 15px;
}