{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Price Comparision</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}" >
	<script src="https://use.fontawesome.com/02cfcb3bc4.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top abc">
	<div class="container">
		<div class="navbar-header">
			<!-- <h4>DaamJaano</h4> -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">DaamJaano</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-nav-demo">	
			<form method ="post" class="navbar-form navbar-left">
        		<div class="form-group">
                        {% csrf_token %}
                        {% for fm in form %}
                        {{ fm }}
                        {% endfor %}
                        <button type="submit">search</button>
        		</div>
      		</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a class="d" href="{% url 'login' %}">Login <i class="fa fa-user" aria-hidden="true"></i> 
				</a></li>
				<li><a class="d" href="{% url 'signup'%}">Signup<i class="fa fa-user-plus" aria-hidden="true"></i>
				</a></li>
				<!-- <li class="d"><a href="{% url 'login' %}">Login</a></li>
				<li class="d"><a href="{% url 'signup'%}">Signup</a></li> -->
			</ul>	
		</div>
	</div>
	</nav> 	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<div class="big" id="bi">
		<div class="box">
			<img src="{% static 'main/images/mobile.png'%}">
			<div class="bu">
			<button type="button">Mobile</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/Tv.jpeg'%}">
			<div class="bu">
			<button type="button" herf="#">Television</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/ac.jpg'%}">
			<div class="bu">
			<button type="button" herf="#">Air Conditioner</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/laptop.png'%}">
			<div class="bu">
			<button type="button" herf="#">Laptop</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/fridge.jpeg'%}">
			<div class="bu">
			<button type="button" herf="#">Refrigerator</button>
			</div>
		</div>

		<h2> Popular deals </h2>
		<div class="deal">
            <img src="{% static 'main/images/mobile.png'%}">
            <img src="{% static 'main/images/mobile.png'%}">
            <img src="{% static 'main/images/mobile.png'%}">
            <img src="{% static 'main/images/mobile.png'%}">
		</div>
	</div> 
</body>
</html>
