{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
	<title>Price Comparision</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/home.css' %}" >
	<script src="https://use.fontawesome.com/02cfcb3bc4.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top abc">
	<div class="container">
		<div class="navbar-header">
			<!-- <h4>DaamJaano</h4> -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">DaamJaano</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-nav-demo">	
			<form method ="post" class="navbar-form navbar-left">
        		<div class="form-group">
                        {% csrf_token %}
                        {% for fm in form %}
                        {{ fm }}
                        {% endfor %}
                        <button type="submit">search</button>
        		</div>
      		</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a class="d" href="{% url 'login' %}">Login <i class="fa fa-user" aria-hidden="true"></i> 
				</a></li>
				<li><a class="d" href="{% url 'signup'%}">Signup<i class="fa fa-user-plus" aria-hidden="true"></i>
				</a></li>
				<!-- <li class="d"><a href="{% url 'login' %}">Login</a></li>
				<li class="d"><a href="{% url 'signup'%}">Signup</a></li> -->
			</ul>	
		</div>
	</div>
	</nav>
	
	<div class="bkl">
        <div class="big">
            <a href="E:\sen\New folder\home_page\mobile.html">
                <div class="box1">
                    <img src="{% static 'main/images/card-1_132698011.png'%}">
                    <div class="bu">
                        <button type="button">Mobile Phones</button>
                    </div>
                </div>
            </a>
            <a href="E:\sen\New folder\home_page\laptop.html">
                <div class="box2">
                    <!-- <img src="card-2_628627137.png"> -->
					<img src="{% static 'main/images/card-2_628627137.png'%}">
                    <div class="bu">
                        <button type="button" herf="#">Laptops</button>
                    </div>
                </div>
            </a>
            <a href="E:\sen\New folder\home_page\ac.html">
                <div class="box3">
                    <!-- <img src="card-3_245943451.png"> -->
					<img src="{% static 'main/images/card-3_245943451.png'%}">
                    <div class="bu">
                        <button type="button" herf="#">Air Conditioners</button>
                    </div>
                </div>
            </a>
            <a href="E:\sen\New folder\home_page\tv.html">
                <div class="box4">
                    <!-- <img src="card-4_906173506.png"> -->
					<img src="{% static 'main/images/card-4_906173506.png'%}">
                    <div class="bu">
                        <button type="button" herf="#">Televisions</button>
                    </div>
                </div>
            </a>
            <a href="E:\sen\New folder\home_page\fridge.html">
                <div class="box5">
                    <!-- <img src="card-5_911816166.png"> -->
					<img src="{% static 'main/images/card-5_911816166.png'%}">
                    <div class="bu">
                        <button type="button" herf="#">Refrigerator</button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h2>
        <div class="pd"><b>Popular Deals</b> </div>
    </h2>
    <div class="deal">
        <div class="box1">
            <div class="image">
                <!-- <img src="v16_238.png"> -->
				<img src="{% static 'main/images/v16_238.png'%}">
            </div>
            <div class="desc">
                <b>Realme 7 Pro</b>
            </div>
            <a href="http://www.google.com"><button type="button" class="bbb" herf="#"><b>Get More Details</b></button></a>
        </div>

        <div class="box1">
            <!-- <img src="v16_360.png"> -->
			<img src="{% static 'main/images/v16_360.png'%}">
            <div class="desc">
                <b>Acer Aspire 7</b>
            </div>
            <a href="http://www.google.com"><button type="button" class="bbb" herf="#"><b>Get More Details</b></button></a>
        </div>

        <div class="box1">
            <!-- <img src="v16_387.png"> -->
			<img src="{% static 'main/images/v16_387.png'%}">
            <div class="desc">
                <b>Whirlpool Fridge</b>
            </div>
            <a href="http://www.google.com"><button type="button" class="bbb" herf="#"><b>Get More Details</b></button></a>
        </div>

        <div class="box1">
            <!-- <img src="v16_443.png"> -->
			<img src="{% static 'main/images/v16_443.png'%}">
            <div class="desc">
                <b>Realme Smart TV</b>
            </div>
            <a href="http://www.google.com"><button type="button" class="bbb" herf="#"><b>Get More Details</b></button></a>
        </div>

        <div class="box1">
            <!-- <img src="v16_415.png"> -->
			<img src="{% static 'main/images/v16_415.png'%}">
            <div class="desc">
                <b>Oneplus 9 Pro</b>

            </div>
            <a href="http://www.google.com"><button type="button" class="bbb" herf="#"><b>Get More Details</b></button></a>
        </div>

        <div class="box1">
            <!-- <img src="v16_443.png"> -->
			<img src="{% static 'main/images/v16_443.png'%}">
            <div class="desc">
                <b>Realme Smart TV</b>
            </div>
            <a href="http://www.google.com"><button type="button" class="bbb" herf="#"><b>Get More Details</b></button></a>
        </div>
    </div>
    <div class="footer">
        <a href="#" class="container1">Contact us</a>
        <a href="#" class="container1">About us</a>
        <a href="#" class="container1">FAQs</a>
    </div>
	
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- <div class="big" id="bi">
		<div class="box">
			<img src="{% static 'main/images/mobile.png'%}">
			<div class="bu">
			<button type="button">Mobile</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/Tv.jpeg'%}">
			<div class="bu">
			<button type="button" herf="#">Television</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/ac.jpg'%}">
			<div class="bu">
			<button type="button" herf="#">Air Conditioner</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/laptop.png'%}">
			<div class="bu">
			<button type="button" herf="#">Laptop</button>
			</div>
		</div>
		<div class="box">
            <img src="{% static 'main/images/fridge.jpeg'%}">
			<div class="bu">
			<button type="button" herf="#">Refrigerator</button>
			</div>
		</div>

		<h2> Popular deals </h2>
		<div class="deal">
            <img src="{% static 'main/images/mobile.png'%}">
            <img src="{% static 'main/images/mobile.png'%}">
            <img src="{% static 'main/images/mobile.png'%}">
            <img src="{% static 'main/images/mobile.png'%}">
		</div>
	</div>  -->
</body>
</html>
