{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
	<title>Laptop</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/same.css' %}">
	<script src="https://use.fontawesome.com/02cfcb3bc4.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top abc">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">DaamJaano</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<form class="navbar-form navbar-left">
        		<div class="form-group">
          			<input type="text" class="form-control" placeholder="Search">
        		</div>
        		<!-- <button type="submit" class="btn btn-default">Submit</button> -->
      		</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a class="d" href="{% url 'login' %}">Login  <i class="fa fa-user" aria-hidden="true"></i>
				</a></li>
				<li><a class="d" href="{% url 'signup' %}">Signup  <i class="fa fa-user-plus" aria-hidden="true"></i>
				</a></li>
				<li><a class="d" href="update.html"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
			</ul>	
		</div>
	</div>
	</nav>
	<div class="navi">
		<a href="mobile.html" class="b mobile">Mobile Phones  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span></a>
		<a href="laptop.html" class="b laptop">Laptops  <i class="fa fa-laptop" aria-hidden="true"></i></a>
		<a href="ac.html" class="b ac">Air Conditioner</a>
		<a href="tv.html" class="b tv">Televisions  <i class="fa fa-television" aria-hidden="true"></i></a>
		<a href="fridge.html" class="b fridge">Refrigerator</a>	
	</div>
	
	<div class="container back thumbnail">
		<div><img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1606072583/Croma%20Assets/Computers%20Peripherals/Laptop/Images/8964532928542.png"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> HP Pavilion x360 14-dh1178tu (231T0PA#ACJ) Core i3 10th Gen Windows 10 Home 2-in-1 Laptop (8GB RAM, 512GB SSD, Intel UHD Graphics, 35.56 cm, Mineral Silver)
			</h4>
			<h4><strong>price:</strong> ₹ 50740.0</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.croma.com/hp-pavilion-x360-14-dh1178tu-231t0pa-acj-core-i3-10th-gen-windows-10-home-2-in-1-laptop-8gb-ram-512gb-ssd-intel-uhd-graphics-35-56-cm-mineral-silver-/p/228387">https://www.croma.com/apple-iphone-11-128gb-rom-4gb-ram-green-/p/221106</a>
			</h4>
		</div>
	</div>
	<div class="container back thumbnail">
		<div><img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1605324335/Croma%20Assets/Computers%20Peripherals/Laptop/Images/8958654218270.png"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> Lenovo Ideapad Slim 5 Ryzen 7 Windows 10 Laptop (8 GB RAM, 512 GB SSD, Integrated AMD Radeon Graphics, MS Office, 35.56cm, Grey)
			</h4>
			<h4><strong>price:</strong> ₹ 59990.0</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.croma.com/lenovo-ideapad-slim-5-ryzen-7-windows-10-laptop-8-gb-ram-512-gb-ssd-integrated-amd-radeon-graphics-ms-office-35-56cm-grey-/p/227089">https://www.croma.com/lenovo-ideapad-slim-5-ryzen-7-windows-10-laptop-8-gb-ram-512-gb-ssd-integrated-amd-radeon-graphics-ms-office-35-56cm-grey-/p/227089</a>
			</h4>
		</div>
	</div>
	<div class="container back thumbnail">
		<div><img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1606585970/Croma%20Assets/Computers%20Peripherals/Laptop/Images/9009480826910.png"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> Apple MacBook Pro (MYD92HN/A) M1 Chip macOS Big Sur Laptop (8GB RAM, 512GB SSD, Apple M1 GPU, 33.78cm, Space Grey)
			</h4>
			<h4><strong>price:</strong> ₹ 135790.0</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.croma.com/apple-macbook-pro-myd92hn-a-m1-chip-macos-big-sur-laptop-8gb-ram-512gb-ssd-apple-m1-gpu-33-78cm-space-grey-/p/230962">https://www.croma.com/apple-macbook-pro-myd92hn-a-m1-chip-macos-big-sur-laptop-8gb-ram-512gb-ssd-apple-m1-gpu-33-78cm-space-grey-/p/230962</a>
			</h4>
		</div>
	</div>
	<div class="container back thumbnail">
		<div><img src="https://m.media-amazon.com/images/I/71VRcitluuL._AC_UY218_.jpg"></div>
		<div>
			<h4 class="top"><strong>Description:</strong>  Microsoft Surface Pro 7 12.3" Touch-Screen - 10th Gen Intel Core i7 - 16GB Memory - 256GB SSD with Type Cover (Latest Model, Matte Black)
			</h4>
			<h4><strong>price:</strong> ₹ 109990</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.amazon.in/Microsoft-Surface-Pro-12-3-Touch-Screen/dp/B07YNHZ78F/ref=sr_1_4?dchild=1&keywords=surface+pro&qid=1618395505&sr=8-4">https://www.amazon.in/Microsoft-Surface-Pro-12-3-Touch-Screen/dp/B07YNHZ78F/ref=sr_1_4?dchild=1&keywords=surface+pro&qid=1618395505&sr=8-4</h4></h4>
		</div>	
	</div>

	<div class="navii">
		<a class="bb blck"></a>
		<a class="bb blck"></a>

		<a href="#" class="bb">Contact us</a>
		<a href="#" class="bb">Help</a>
		<a href="#" class="bb">About us</a>
		<a href="#" class="bb">FAQs</a>
		
		<a class="bb blck"></a>
		<a class="bb blck"></a>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="mobile.js"></script> -->
</body>

</html>