{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
	<title>Mobile</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'main/css/same.css' %}">
	<script src="https://use.fontawesome.com/02cfcb3bc4.js"></script>

</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top abc">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">DaamJaano</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-nav-demo">
			<form class="navbar-form navbar-left">
        		<div class="form-group">
          			<input type="text" class="form-control" placeholder="Search">
        		</div>
        		<!-- <button type="submit" class="btn btn-default">Submit</button> -->
      		</form>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a class="d" href="{% url 'login' %}">Login  <i class="fa fa-user" aria-hidden="true"></i>
				</a></li>
				<li><a class="d" href="{% url 'signup' %}">Signup  <i class="fa fa-user-plus" aria-hidden="true"></i>
				</a></li>
				<li><a class="d" href="{% url 'update'%}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
			</ul>	
		</div>
	</div>
	</nav>
	<div class="navi">
		<a href="mobile.html" class="b mobile">Mobile Phones  <span class="glyphicon glyphicon-phone" aria-hidden="true"></span></a>
		<a href="laptop.html" class="b laptop">Laptops  <i class="fa fa-laptop" aria-hidden="true"></i></a>
		<a href="ac.html" class="b ac">Air Conditioner</a>
		<a href="tv.html" class="b tv">Televisions  <i class="fa fa-television" aria-hidden="true"></i></a>
		<a href="fridge.html" class="b fridge">Refrigerator</a>	
	</div>
	
	<div class="container back thumbnail">
		<div><img src="https://media.croma.com/image/upload/f_auto,q_auto,d_Croma%20Assets:no-product-image.jpg,h_212,w_212/v1605198076/Croma%20Assets/Communication/Mobiles/Images/8952377868318.png"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> Apple iPhone 11 (128GB ROM, 4GB RAM, Green)
			</h4>
			<h4><strong>price:</strong> ₹ 59900.0</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.croma.com/apple-iphone-11-128gb-rom-4gb-ram-green-/p/221106">https://www.croma.com/apple-iphone-11-128gb-rom-4gb-ram-green-/p/221106</a>
			</h4>
		</div>
	</div>
	<div class="container back thumbnail">
		<div><img src="https://cdn.pocket-lint.com/r/s/300x/assets/images/149322-phones-review-review-apple-iphone-11-review-image1-u5x3kuzag0.jpg"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> OnePlus 8T (128GB ROM, 8GB RAM, Aquamarine Green)
			</h4>
			<h4><strong>price:</strong> ₹ 42999.0</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.croma.com/oneplus-8t-128gb-rom-8gb-ram-lunar-silver-/p/229470">https://www.croma.com/oneplus-8t-128gb-rom-8gb-ram-lunar-silver-/p/229470</a>
			</h4>
		</div>
	</div>
	<div class="container back thumbnail">
		<div><img src="https://m.media-amazon.com/images/I/81nEqE5WMuL._AC_UY218_.jpg"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> Samsung Galaxy A72 (Violet, 8GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers
			</h4>
			<h4><strong>price:</strong> ₹ 34999</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B08VB23CFB/ref=sr_1_2?dchild=1&keywords=samsung+a72&qid=1618394238&sr=8-2">https://www.amazon.in/Samsung-Galaxy-Storage-Additional-Exchange/dp/B08VB23CFB/ref=sr_1_2?dchild=1&keywords=samsung+a72&qid=1618394238&sr=8-2</a>
			</h4>
		</div>
	</div>
	<div class="container back thumbnail">
		<div><img src="https://m.media-amazon.com/images/I/813-3IFXRML._AC_UY218_.jpg"></div>
		<div>
			<h4 class="top"><strong>Description:</strong> Poco F1 by Xiaomi (Armored Edition, 8GB RAM, 256GB Storage)
			</h4>
			<h4><strong>price:</strong> ₹ 17449</h4>
			<h4><strong>Redirection Link:</strong> <a href="https://www.amazon.in/POCO-Xiome-Smartphone-Armored-Snapdragon/dp/B07H6NJX5F/ref=sr_1_4?dchild=1&keywords=poko&qid=1618393269&sr=8-4">https://www.amazon.in/POCO-Xiome-Smartphone-Armored-Snapdragon/dp/B07H6NJX5F/ref=sr_1_4?dchild=1&keywords=poko&qid=1618393269&sr=8-4</a>
		</div>	
	</div>

	<div class="navii">
		<a class="bb blck"></a>
		<a class="bb blck"></a>

		<a href="#" class="bb">Contact us</a>
		<a href="#" class="bb">Help</a>
		<a href="#" class="bb">About us</a>
		<a href="#" class="bb">FAQs</a>
		
		<a class="bb blck"></a>
		<a class="bb blck"></a>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="mobile.js"></script> -->
</body>

</html>