{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Update profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{% static 'main/css/update.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
    <div class="container" onclick="onclick">
    <div class="top"></div>
    <div class="bottom"></div>
    <div class="center">
	    <img src="{% static 'main/images/person.png'%}" alt="Profile Picture" class="profile_img">
        <input type="email" placeholder="email"/>
	    <input type="password" placeholder="password"/>
	    <div class="end"><a href="{% url 'home'%}"><button class="buttons">Back</button></a><button class="buttons">Update</button>
	    </div>
    <h2>&nbsp;</h2>
    </div>
    </div>
    <script src='https://codepen.io/banik/pen/3f837b2f0085b5125112fc455941ea94.js'></script>
</body>
</html> 