body {
    background: white;
    margin: 0;
}

.abc {
    background: white;
}

.navbar-default {
    margin: 0;
    border: none;
}

.navbar-default .navbar-form {
    /*color: white;*/
    width: 60%;
}

.form-group {
    /*color: white;*/
    width: 100%;
}

.navbar-form .form-control {
    width: 100%;
    color: white;
    background: #386DD3;
    border-radius: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-default .navbar-brand {
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 1px 1px #ddd;
}

.navbar-default .navbar-brand:hover {
    background: #ecf0f1;
    color: #2c3e50;
}

.navbar-default .navbar-nav>li>a:hover {
    background: #ecf0f1;
    color: #2c3e50;
}

.big {
    position: relative;
    width: 1400px;
    height: 200px;
    margin: 80px auto;
    margin-bottom: -10px;
}

.big .box1 {
    position: relative;
    width: calc(270px - 20px);
    height: calc(220px - 10px);
    background: #00B894;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.big .box2 {
    position: relative;
    width: calc(270px - 20px);
    height: calc(220px - 10px);
    background: #A29BFE;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.big .box3 {
    position: relative;
    width: calc(270px - 20px);
    height: calc(220px - 10px);
    background: #FF7675;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.big .box4 {
    position: relative;
    width: calc(270px - 20px);
    height: calc(220px - 10px);
    background: #6C5CE7;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.big .box5 {
    position: relative;
    width: calc(270px - 20px);
    height: calc(220px - 10px);
    background: #E84393;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.box1 img {
    width: 100%;
    height: 70%;
}

.big .box1 .bu {
    color: white;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

.big .box1 .bu button {
    background: #00B894;
    border: #00B894;
}

.box2 img {
    width: 100%;
    height: 70%;
}

.big .box2 .bu {
    color: white;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

.big .box2 .bu button {
    background: #A29BFE;
    border: #A29BFE;
}

.box3 img {
    width: 100%;
    height: 70%;
}

.big .box3 .bu {
    color: white;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

.big .box3 .bu button {
    background: #FF7675;
    border: #FF7675;
}

.box4 img {
    width: 100%;
    height: 70%;
}

.big .box4 .bu {
    color: white;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

.big .box4 .bu button {
    background: #6C5CE7;
    border: #6C5CE7;
}

.box5 img {
    width: 100%;
    height: 70%;
}

.big .box5 .bu {
    color: white;
    padding: 20px;
    font-size: 17px;
    text-align: center;
}

.big .box5 .bu button {
    background: #E84393;
    border: #E84393;
}

.deal {
    margin-top: 0;
    border: 1px black solid;
    margin-left: 72px;
    height: 300px;
    border: 1px solid white;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

h2 {
    margin-top: 80px;
}

.pd {
    margin-left: 72px;
}

.deal::-webkit-scrollbar {
    width: 0;
}

.deal .box1 {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 300px;
    background-color: white;
}

.deal .box1 img {
    margin-left: 25px;
    border: 1px black solid;
    margin-top: 0;
    position: relative;
    width: 250px;
    height: 200px;
}

.bbb {
    color: #6554EC;
    background-color: white;
    border-color: #2C14E5;
    border-radius: 20px;
    height: 35px;
    width: 250px;
    outline: none;
}

.navii {
    bottom: 0;
    width: 100%;
    margin-top: 60px;
}

.bb {
    width: 12.5%;
    float: left;
    color: white;
    text-align: center;
    height: 50px;
    padding-top: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    background: black;
}