body{
	background: #ecf0f1;
	margin: 0;
}
.abc{
	background: #2c3e50;
}
.navbar-default{
	margin: 0;
	border: none;
}
.navbar-default .navbar-form{
	width: 50%;
}
.form-group{
	width: 100%;
}
.navbar-form .form-control{
	width: 100%;
}
.navbar-default .navbar-nav>li>a{
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
}
.navbar-default .navbar-brand{
	color: white;
	font-weight: 700;
	letter-spacing: 1px;
}
.navbar-default .navbar-brand:hover{
	background: #ecf0f1;
	color: #2c3e50;
}
.navbar-default .navbar-nav>li>a:hover{
	background: #ecf0f1;
	color: #2c3e50;
}
.navi{
	padding-top: 50px;
}
.b{
	width: 20%;
	float: left;
	color: white;
	text-align: center;
	height: 50px;
	padding-top: 14px;
	font-weight: 700;
	letter-spacing: 1px;
}
.mobile{
	background: #5D5C61;
}
.laptop{
	background: #379683;
}
.ac{
	background: #7395AE;
}
.tv{
	background: #557A95;
}
.fridge{
	background: #B1A296;
}
.navi a:hover{
	color: white;
	text-decoration: none;
}
.navi a:visited {
  text-decoration: none;
  color: white;
}
.navi a:link{
	text-decoration: none;
  color: white;
}
.navi a:active{
	text-decoration: none;
  color: white;
}
.navii a:hover{
	color: white;
	text-decoration: none;
}
.navii a:visited {
  text-decoration: none;
  color: white;
}
.navii a:link{
	text-decoration: none;
  color: white;
}
.navii a:active{
	text-decoration: none;
  color: white;
}
.dd{
	font-weight: 800;
	letter-spacing: 1px;
}
.navii{
	overflow: hidden;
	bottom: 0;
	width: 100%;
	margin-top: 20px;
}
.bb{
	width: 12.5%;
	float: left;
	color: white;
	text-align: center;
	height: 50px;
	padding-top: 14px; 
	font-weight: 700;
	letter-spacing: 1px;
	background: #2c3e50;
}
.ll{
	height: 50px;
	padding-top: 14px;
	padding-left: 20px;
}
hr{
	width: 55.56%;
  border: 0;
  clear:both;
  display:block;         
  background-color: blue;
  height: 1px;
  margin: 0px auto;
}
h3{
	padding-top: 50px;
	padding-left: 20px;
	margin-left: 42%;
}
.p{
	width: 11.11%;
	float: left;
	height: 50px;
	padding-top: 14px;
}
.bord{
	border-left: 1px solid blue;
}
button{
	border: 1px solid blue;
	border-radius: 12%;
	outline: none;
	margin-left: 29px;
}
div img{
	width: 220px;
	height: 265px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
	display: inline-block;
	float: left;
}
.clr{
	clear: left;
}
.desc{
	margin-top: 30px;
	padding-right: 7px;
	min-width: 1150px;
}
h2{
	margin-top: 50px;
	display: inline-block;
	min-width: 450px;
}
.margin{
	margin-left: 100px;
	font-size: 15px;
	height: 100%;
	border: 1px solid blue;
	padding: 7px;
	border-radius: 7%;
}
h2 a:hover{
	color: black;
	text-decoration: none;
}
h2 a:visited {
    text-decoration: none;
    color: black;
}
h2 a:link{
	text-decoration: none;
    color: black;
}
h2 a:active{
	text-decoration: none;
    color: black;
}
ul{
	margin-top: 50px;
	float: left;
}
li img{
	width: 100%;
}
.inul{
	margin-bottom: 4px;
	width: 50px;
    list-style: none;
	text-decoration: none;
}
.some-class{
	margin-top: 60px;
}
.another-class{
	height: 60px;
}