body{
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
}

.a{
	background: #6C5CE7;
	width: 400px;
	height: 600px;
	margin: 10% auto;
	padding: 1%;
	text-align: center;
	border: 1px solid #6C5CE7;
	border-color: #6C5CE7;
}

h1{
	color: white;
}

.profile_img{
	border-radius: 50%;
    width: 60%;
}
.inp{
	width: 80%;
	border-radius: 20px;
	border: 1px solid #6C5CE7;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	font-weight: 800;
	font-size: medium;
	color: #000000;
}
button{
	background-color: #ffffff;
	height: 50px;
	width: 50%;
	padding: 7px;
	color: #6C5CE7;
	font-weight: 800;
	font-size: medium;
	letter-spacing: 1px;
	border: 1px solid #6C5CE7;
	border-radius: 0px;
	margin: 30px auto;
	border-radius: 20px;
}
button:active{
	background: #6C5CE7;
}
